.nav-bar-container {
  background: #000000eb;
  color: #969696;
  .logo-image-container {
    text-align: center;
    margin: auto;
    font-size: 2.5rem;
    color: #e97b22;
  }
  .channels-container {
    font-size: 0.8rem;
    position: relative;
    padding: 8% 0;
    .channels-heading-container {
      position: relative;
      span {
        font-size: 0.7rem;
        letter-spacing: 0.6px;
      }
      i {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .channels-heading-container:hover {
      color: #cfcfcf;
      cursor: pointer;
    }
    .content-container {
      a {
        text-decoration: none !important;
      }
      .content {
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 1% 3%;
        margin: 2% 0;
        color: #969696;
        i {
          font-size: 0.4rem;
          position: absolute;
          left: 4px;
          top: 50%;
          transform: translateY(-50%);
        }
        span {
          padding: 0px 15px;
        }
      }
      .content:hover {
        cursor: pointer;
        color: #c7c7c7;
        background: #292929;
      }
      .content-selected {
        background: #e97b21 !important;
        color: white !important;
        border-radius: 2px !important;
      }
    }
  }
  .channels-container::before {
    position: absolute;
    content: "";
    background: #2c2c2c;
    width: 90%;
    height: 0.1rem;
    top: 0%;
    left: 5%;
  }
}
