.list-container {
  .list-element-container {
    background: #ececec;
    color: #444444;
    line-height: 2rem;
    font-size: 0.8rem;
    padding: 0 2%;
    cursor: pointer;
    margin: 0.4% 0;
    border: solid;
    border-width: 0.1px;
    border-color: #e4e4e4;
  }
  .list-element-container:hover {
    background: #c4c4c4;
    color: #3a3a3a;
  }
}
